 .filepond--root {
  min-height: 5em;
  max-height: 45em;
}

/* .filepond--item {
  max-height: 10em;
  min-height: max-content;
} */


@media (min-width: 30em) {
  .filepond--item {
      width: calc(50% - 0.5em);
  }
}
/* @media (min-width: 60em) {
  .filepond--item {
    width: calc(33.33% - 0.5em);
  }
} */

/* 
@media (min-width: 80em) {
  .filepond--item {
    width: calc(20% - 0.5em);
  }
} */